<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="nwind" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=C:\DevExpress\Examples\Reporting_how-to-use-page-merging-feature-when-generating-report-pages-in-background-e1036\CS\PageMerging\nwind.mdb;user id=;password=;" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
